$colors: (
  white: #ffffff,
  lightGrey: #d3d5de,
  darkGrey: #78747f,
  pink: #ed5d73,
  lightViolet: #5f558f,
  mediumViolet: #60548f,
  darkViolet: #2f1a4b,
  imageOpacityMask: rgba(83, 65, 129, 0.26),
  opacityBarBackground: rgba(41, 33, 77, 0.6),
  homeScreenBackground: #eeeff5,
  playlistScreenBackground: #f3f3f8,
);

$font-family: "Rambla", "sans-serif";
